<h1>Edit Your Display</h1>
<h3>Note: Make sure to save your changes before you generate your HTML! Otherwise bad things happen!</h3>
<div id="controlPanel">
  <div id="controlHeader">
    Control Panel! Drag me!
  </div>
  <div id="controlTabs">
    Tabs:
    <button id="frameToolsButton">Frame Tools</button>
    <button id="selectionToolsButton">Selection Tools</button>
    <button id="userToolsButton">User Tools</button>
  </div>
  <div id="frameTools">
    These actions affect ALL frames.
    <br>
    <button class="createFrame">Create Frame</button>
    <br>
    <button id="unlockButton">Unlock Frames Drag</button>
    <button id="lockButton">Lock Frames In Place</button>
    <br>
    <button id="frameContentDrag">Unlock Image Drag</button>
    <button id="frameContentLock">Lock Image Drag</button>
    <br>
    <button id="frameContentResize">Enable Image Resize</button>
    <button id="frameContentResizeLock">Disable Image Resize</button>
    <br>
    <input type="number" id="gridInput" placeholder="grid size(pixels)">
    <button id="gridButton">Enable Snap to Grid</button>
    <br>
    <input type="number" id="borderWidthInput" placeholder="border width(pixels)">
    <button id="borderWidth">Set Border Width</button>
    <br>
    <input class="jscolor" id="borderColorInput" value="ab2567">
    <button id="borderColor">Set Border Color</button>
    <br>
    <input class="jscolor" id="backgroundColorInput" value="3746AB">
    <button id="backgroundColor">Set Background Color</button>
  </div>
  <div id="selectionTools">
    These actions ONLY affect the selected frame.
    <br>
    <button class="createFrame">Create Frame</button>
    <br>
    <select id="frameSelect" multiple=true>
    </select>
    <br>
    <button id="vacuumSeal">Fit Frame to Image</button>
    <br>
    <input type="text" id="frameName" placeholder="Frame Name">
    <button id="nameFrame">Rename Frame</button>
    <br>
    <input type="text" id="imgInput" placeholder="Image URL">
    <button id="loadImage">Add Image to Frame</button>
    <br>
    <button id="deleteFrame">Delete Selected Frame</button>
    <p id="frameNames" hidden><%= @display.frame_names %></p>
  </div>
  <div id="userTools">
    <div class="form">
      <br>
      <%= form_for @display do |f| %>
      <%= f.label :display_name %><br>
      <%= f.text_field :display_name %>
      <%= f.hidden_field(:user_id, :value => session[:current_user_id]) %>
      <%= f.hidden_field(:html_string) %>
      <%= f.hidden_field(:frame_names) %>
      <button id="formSubmit">Save Display</button>
      <% end %>
      <br>
      <button id="generateHTML">Generate HTML</button>
    </div>
  </div>
</div>
<%= @display.html_string.html_safe %>
<div id="deliciousReduction">
</div>
