<div class="form">
  <h1>Existing Users</h1>
  <%= form_tag(sessions_path) do%>
  <%= label_tag :username %> <br>
  <%= text_field_tag :username %>
  <br>
  <%= label_tag :password %> <br>
  <%= password_field_tag :password %>
  <br><br>
  <%= submit_tag "Login"%>
  <% end %>
</div>
<div class="form">
<h1>New Users</h1>
  <%= form_for @user do |f| %>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>
  <br>
  <%= f.submit "Register"%><br>
  <% end %>
</div>
