<!DOCTYPE html>
<html>
<head>
  <title>Display</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="login">
    <% if session[:current_user_id] %>
    <%= link_to "Logout", sessions_path, method: :delete %> ||
    <%= link_to "My Displays", displays_path %> ||
    <%= link_to "Create a New Display", new_display_path %> ||
    <%= link_to "Help", displays_help_path %>
    <% else %>
    <%= link_to "Register/Login", new_user_path %> ||
    <%= link_to "Create a New Display", new_display_path %> ||
    <%= link_to "Help", displays_help_path %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
